/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Container Styling */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
}

#textToCopy {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: #444;
    resize: none;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s ease;
}

/* Textarea Hover Effect */
#textToCopy:hover {
    border: 2px solid #2575fc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Add Subtle Animations */
.container {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
