body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    padding: 20px;
    background: #f0f0f0;
    margin: 20px;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#textToCopy {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 20px;
    width: 100%;
}
